:root {
    --primary-color: rgb(14, 25, 231);
    --secondary-color: #3333; 
    --background-color: #fff; 
    --text-color: #000; 
    --link-hover-color: #ff0011;
}


body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 50px;
    padding: 10px;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: center; 
    justify-content: center; 
    gap: 150px; 
    height: 200px; 
    padding: 0 50px;
  
  
  
}

button{
    height: 40px;
    width: 150px;
    font-size: 16px;
    background-color: #fff;
    margin: 5px;
    
}

nav {
  display: flex;
  gap: 30px;
}

.blacklink{
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.headerimg{
 margin: 0px;
 height: 200px;
 padding-left: 300px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    font-weight: bold;
}


p {
    color: var(--text-color);
    line-height: 1.6;
}


a img {
    text-decoration: none; 
}


a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--link-hover-color);
}


.hero {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .hero img {
    width: 100%; 
    display: block; 
  }
  
  /* .hero h1 {
    position: absolute;
    top: 5%; 
    left: 35%; 
    background-color: rgba(11, 47, 252, 0.3);;
    width:100%;
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
  } */

  .hero h1 {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%; 
    background-color: rgba(38, 77, 184, 0.3); 
    color: white;
    font-size: 3rem;
    text-align: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 10px 0; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
 }
  
  
  .hero article {
    position: absolute;
    bottom: 10%;
    left: 10%;
    width: 80%; 
    background-color: rgba(252, 251, 251, 0.6); 
    color: white;
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
  }
  
 
  .hero article p {
    margin: 0 0 10px;
  }
  
  .hero article img {
    float: right; 
    margin: 0 0 10px 10px;
    max-width: 40%; 
    height: auto; 
  }


  .adventure{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .gallery{
    display: flex;
    align-items: center;
    justify-content: center;
  
  }

  .gallery img{
    width: 210px;
    height: 200px;
     
  }

  footer {
    color: white;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

  .history{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }



  .title{
    display:flex;
    align-items: center;
    justify-content: center;
  }



/* styling for Contact Us page */

.main
{
  margin-left: 10%;
  margin-right: 10%;
}

.main h1{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color:#fff;
}


.location{
background-color: black;
width: 100%;
}
.location h2{
display: flex;
align-items: center;
justify-content: center;
font-size: 40px;
color: white;
margin-top: 0%;
}

.location p{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-top: 0%;
  padding: 10px;
  color: white;
  }
.map{
  padding: 30px;

}

.employees{
  display: flex;
  align-items: center;
  justify-content: center;
}

.name{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  background-color: #000;
  color:#fff
}

.contact-form h2{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: white;

}

.employee-profiles h2{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: white;


}

.submit{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  background-color: #000;
  color:#fff;
  margin-top: 10px;
}

.purpose{
  margin-top:10px;
}





